.gridMaps {
  padding-top: var(--spacing-large);


  & > article {
    height: 100%;
    text-align: center;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);


    & > ul {
      width: 100%;
      //height: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: var(--spacing-medium);

      & > li {
        display: grid;
        align-content: center;
        & > * {
          border-radius: var(--border-radius-3);
          padding: var(--spacing-extra-small);
          background-color: var(--white-10);
          border: thin solid var(--black-50);

        }
      }
    }

  }
}
.list {

}

