.gamePage {
  composes: grid from global;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr auto 1fr;
  grid-template-areas:
    'game game game'
    'player1 slot1 player2'
    'slot4 slot5 slot2'
    'player4 slot3 player3';
}

.game {
  grid-area: game;
}

.player1 {
  grid-area: player1;
}
.player2 {
  grid-area: player2;
}
.player3 {
  grid-area: player3;
}
.player4 {
  grid-area: player4;
}
.pages {

}

.slot1 {
  grid-area: slot1;
}
.slot2 {
  grid-area: slot2;
}
.slot3 {
  grid-area: slot3;
}
.slot4 {
  grid-area: slot4;
}
.slot5 {
  grid-area: slot5;
}
