.map {
  composes: grid from global;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  & > {

  }
}
.header {
  composes: flexCenter from global;
  justify-content: space-between;
}

.canvas {
  background-color: var(--washed-blue);
}
