.dice {
  padding: var(--spacing-extra-small);
  height: 100%;
  & figure {
    margin: var(--spacing-none);
    padding: var(--spacing-none);
  }
}

.die {
  color: rebeccapurple;
}

.blue * {
  color: var(--blue);
}

.navy * {
  color: var(--navy);
}

.green * {
  color: var(--green);
}

.pink * {
  color: var(--pink);
}

.purple * {
  color: var(--purple);
}

.gold * {
  color: var(--gold);
}

.orange * {
  color: var(--orange);
}

.red * {
  color: var(--red);
}
