.mapPanel {
  margin: var(--spacing-none);
  padding: var(--spacing-none);
}

svg {
  font-size: var(--font-size-3);
  padding: var(--spacing-none);
  margin: var(--spacing-none);
}

/*/svg g {
//  fill: var(--black-30);
//  fill-opacity: 0.6;
//}
//svg g:hover {
//  fill-opacity: 1;
//}
//svg g:hover text {
//  fill-opacity: 1;
//}
*/

svg g polygon {
  //stroke: #3f51b5;
  stroke-width: 0.2;
  transition: fill-opacity 0.2s;
}
svg g text {
  font-size: 0.3em;
  fill: #ffffff;
  fill-opacity: 0.4;
  transition: fill-opacity 0.2s;
}
svg path {
  fill: none;
  //stroke: hsl(60, 20%, 70%);
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.distant {
  & polygon {
    fill: var(--black-20);
  }
}
.ocean {
  & polygon {
    fill: var(--dark-blue);
  }
}

.lake {
  & > g polygon {
    fill: var(--light-blue);
  }
}

.plains {
  & > g polygon {
    fill: var(--wheat);
  }
}

.hills {
  & > g polygon {
    fill: var(--sienna);
  }
}

.mountains {
  & > g polygon {
    fill: var(--mid-gray);
  }
}

.swamp {
  & > g polygon {
    fill: var(--sandy-brown);
  }
}

.desert {
  & > g polygon {
    fill: var(--washed-yellow);
  }
}


.unexplored {
  & > g polygon {
    stroke: var(--black-20);
  }
}

.distant {
  & > g polygon {
    stroke: var(--near-white);
  }
}

.tamed {
  & > g polygon {
    stroke: var(--green);
  }
}

.frontier {
  & > g polygon {
    stroke: var(--yellow)
  }
}

.wilds {
  & > g polygon {
    stroke: var(--blue);
  }
}

.enemy {
  & > g polygon {
    stroke: var(--red);
  }
}

